/* FULL PORTFOLIO PAGE */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Geneva, Verdana, sans-serif;
  /* background-color: aliceblue; */
}

#root {
  margin: 0;
  padding: 0;
}

#portfolio {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#f8f9fa, #e9ecef);
}

main {
  width: 60%;
  margin: auto;
  padding: 0;
  
}

h2 {
  font-family: Lato;
  text-transform: uppercase;
  color: #ee6c4d;
}

hr {
  border-top: 1px solid #fdb92e;
  width: 80%;
}


/* HEADER */

header {
  width: 100%;
  margin: 0 !important;
  padding: 0;
  /* padding: 10px; */
  text-align: center;
  /* background-color: #d90368; */
  background-color: #3a668c;
  /* height: 370px; */
  position: relative;
}

header > h1 {
  font-family: Raleway;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3a668c;
  text-shadow: 0.5px 0.5px #1e4e72;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 48%;
}


header > h2 {
  color: #3a668c;
  font-family: Lato;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px  #1e4e72;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 33%;
}

@media ( max-width: 1100px) {
  header > h1 { 
    font-size: 80px; 
  }
}
@media ( max-width: 700px) {
  header > h1 { 
    font-size: 55px; 
  }
  header > h2 {
    font-size: 20px;
  }
}

header > img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 280px;
  object-fit: fill;
  object-position: 0 40%;
}


/* NAV BAR */

/* #nav-container {
  position: absolute;
  top: 41%;
  width: 100%;
} */

nav {
  /* background-color: #000; */
  background-color: #3a668c;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* border-bottom: 2px solid #e31b6d; */
  /* border-top: 3px solid #ff5757; */
  /* border-bottom: 4px solid #ff5757; */
  margin: 0 !important;
  display: flex;
  justify-content: center;
  z-index: 10;
}

nav > .links {
  width: 70%;
  margin: auto;
  margin-top: 0;
}

nav > a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 0;
}

nav > a:hover {
  color: #fdb92e;
}

nav > a.active {
  /* font-weight: bold; */
  color: #fdb92e;

}


/* ABOUT */

#about {
  margin: 70px 0;
}

#about > p {
  /* width: 80%; */
  /* margin: auto; */
}

#social-media {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#social-media > a > img {
  width: 40px;
  margin: 10px;
}

#social-media > a:hover > img {
  width: 50px;
  margin: 0;
}


/* PROJECTS */

#projects {
  margin: 70px 0;
}

#project-list{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-content: center;
}

.project {
  text-align: center;
  flex-basis: 45%;
  margin: 10px;
  color: transparent;
  position: relative;
  border-radius: 10px;
}

@media ( max-width: 1200px) {
  .project { 
    flex-basis: 60%; 
   }
}

@media ( max-width: 900px) {
  .project { 
    flex-basis: 75%; 
  }
}

@media ( max-width: 700px) {
  .project { 
    flex-basis: 90%; 
  }
}

.project:hover {
  color: #fff;
  background-color: #3a668c;
  margin: 0 10px;
  transition: .2s ease;
}
@media ( max-width: 1400px) {
  .project:hover { 
    font-size: smaller; 
  }
}

.project:hover > img {
  opacity: 0.05;
  transition: .2s ease;
}

.project > h3 {
  padding: 0 10px;
}

.project > .plain-paragraph {
  padding: 0 10px;
}

.project > img{
  width: 100%;
  height: 100%;
  border: 1px solid #3a668c;
  border-radius: 10px;
  /* margin: 10px; */
}

.project > .text-on-image {
  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 20%;
}

.text-on-image > h3 {
  text-transform: uppercase;
}

.project:hover > .text-on-image > h3 {
  color: #fdb92e
}

.project:hover > .text-on-image > .learn-more {
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #ee6c4d;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.text-on-image > .learn-more {
  color: transparent;
  text-decoration: none;
  text-transform: uppercase;
}

.text-on-image > .learn-more:hover {
  color: #000;
  background-color: #ee6c4d;
  padding: 5px 10px;
  border: 1px solid #fff;
}

/* PROJECT DETAIL */

.project-detail {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 50px;
  text-align: center;
  border: 1px solid #3a668c;
  border-radius: 20px;
  background-color: #fff;
}

.project-detail h3 {
  text-transform: uppercase;
  color:#3a668c;
}

.project-detail h4 {
  text-transform: uppercase;
  color: #ee6c4d
}

.project-description-and-video {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap row;
}

.project-description {
  max-width: 40%;
  margin: auto;
  text-align: left;
}

@media ( max-width: 1350px) {
  .project-description { 
    max-width: 100%; 
  }
}

.project-description a {
  color:#ee6c4d;
  text-decoration: none;
}

.project-description a:hover {
  color: #1e4e72;
}

.video {
  background-color: #fdb92e;
  border-radius: 10px;
  border: 1px solid #3a668c;
  margin: auto;
  padding: 20px 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-detail-images {
  display: flex;
  flex-direction: row;
  flex-flow: wrap row;
  justify-content: center;
}

.project-detail-images > img {
  width: 30%;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #3a668c;
}
@media ( max-width: 1100px) {
  .project-detail-images > img { 
    flex-basis: 45%; 
  }
}
@media ( max-width: 600px) {
  .project-detail-images > img { 
    flex-basis: 90%; 
  }
}

.project-detail > button {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #ee6c4d;
  border-radius: 10px;
  color: #1e4e72;
  background-color: #fff;
}

.project-detail > button:hover {
  color: #fff;
  background-color: #ee6c4d;
}


/* TECH STACK */

#tech-stack {
  margin: 70px 0;
}

#tech-stack-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap row;
  width: 80%;
  margin: auto;
}

#tech-stack-logos > .tech {
  position: relative;
}

.tech > img {
  width: 80px;
  margin: 10px;
}

.tech:hover > img {
  opacity: 0.2;
  transition: .3s ease;
}


.tech > p {
  color: #3a668c;
  font-weight: bold;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 30%;
}
/* @media ( max-width: 1400px) {
  .project:hover { 
    font-size: smaller; 
  }
} */

.tech:hover > p {
  opacity: 1;
  transition: .3s ease;
}


/* CONTACT */

#contact {
  margin: 70px 0;
}

form {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid #3a668c;
  border-radius: 30px;
  text-align: center;
  background-color: #fff;
}

label {
  margin: 5px 20px;
}

input {
  border: 1px solid #3a668c;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  margin: 10px;
  font-family: Geneva, Verdana, sans-serif;
}

#message {
  float: left;
  margin: 20px 0 10px 40px;
}

textarea {
  border: 1px solid #3a668c;
  border-radius: 5px;
  padding: 10px;
  width: 90%;
  margin: 10px;
  font-family: Geneva, Verdana, sans-serif;
}

button {
  border: 1px solid #3a668c;
  color: #1e4e72;
  background-color: #fdb92e;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 10px;
  font-family: Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: #3a668c;
  color: #fdb92e;
}

/* FOOTER */

footer {
  width: 100%;
  margin: 100px 0;
  background-color: #3a668c;
  color: #fdb92e;
  font-weight: bold;
  text-align: center;
  height: 100px;
}

footer > p {
  padding: 40px;
}

